<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>Quiz {{quizName}}</h1>
		</div>
		<div class="panel-body">
			Quiz Homepage Stuff!
			<br>
			<br>
			<form method="post" action="/quiz">
				{{#each questions as |qstn qstnId|}}
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2>{{qstn.name}}</h2>
						</div>
						{{#each qstn.answers as |ans ansId|}}
							<div class="radio">
							  <label>
							    <input type="radio" name="{{qstn.name}}" id="optionsRadios{{ansId}}" value="{{ansId}}">
							    {{ans}}
							  </label>
							</div>
						{{/each}}
						
					</div>
				{{/each}}
				<button id="submitBtn" type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>